{
  email heisenburger10012024@gmail.com
}

cybertown.kickbutt.dev {
  handle /api* {
     reverse_proxy http://backend:7777
  }

  handle {
		root * /frontend-dist
		try_files {path} /index.html
		encode gzip zstd
		file_server
	}
}
